@font-face {
    src: url("cursed-time.ttf");
    font-family: "cursed-time";
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background-color: #1B244A;
    color: white;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.scoreboard-container {
    display: flex;
    flex-direction: column;
}

.scoreboard {
    font-family: "cursed-time", Verdana, Geneva, Tahoma, sans-serif;
    background-color: #080001;
    margin-bottom: 26px;
}

.score {
    color: #F94F6D;
    font-size: 90px;
    margin: 12px 0 0 0;
    padding: 20px 40px;
}

.points {
    display: flex;
    justify-content: space-between;
}

.points-btn {
    font-family: "cursed-time", Arial, Helvetica, sans-serif;
    background-color: transparent;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    padding: 10px 8px;
    color: #9AABD8;
}

#new-game-btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    background-color: green;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
}